
@font-face {
	font-family: 'Yekan';
	src:	url('Yekan.eot'); /* IE9 Compat Modes */
	src:	url('Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/Yekan-Font-master/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('/Yekan-Font-master/Yekan.woff') format('woff'), /* Modern Browsers */
			url('/Yekan-Font-master/') format('opentype'), /* Open Type Font */	
			url('/Yekan-Font-master/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(90deg ,#ff0000 , #ff8800);
    direction: rtl;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.active{
     opacity: 1;
     transform: translateX(0%);
     -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
     -ms-transform: translateX(0%);
     -o-transform: translateX(0%);
}
input{
    font-family: Yekan;
    font-size: 20px;
    outline: none;
    border: none;
    height: 25px;
    width: 50%;
    padding: 10px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    opacity: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transform: translateX(40%);
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
}
button{
    padding: 9px;
    border: none;
    background: rgb(179, 179, 179);
    cursor: pointer;
    height: 45px;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}